<h2>Lista de categorias</h2>
<hr>
<a href="/admin/categorias/add"><button type="button" class="btn btn-success">Criar nova categoria</button></a>

{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>Slug: {{slug}}</small>
            <br>
            <small>Data de criação: {{date}}</small>
            <br>
            <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-success mt-3">Editar categoria</button></a>
            <form action="/admin/categorias/deletar" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-2">Deletar categoria</button>
            </form>
        </div>
    </div>
{{else}}
    <br>
    <h4>Nenhuma categoria registrada...</h4>
{{/each}}