{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<div class="card">
    <div class="card-body">
        <h4>Editar postagem</h4>
        <form action="/admin/postagem/edit" method="POST">
            <input type="hidden" value="{{postagem._id}}" name="id">
            <label for="titulo">Titulo: </label>
            <input type="text" name="titulo" class="form-control" value="{{postagem.titulo}}">
            <label for="slug">Slug: </label>
            <input type="text" name="slug" class="form-control" value="{{postagem.slug}}">
            <label for="descricao">Descricao: </label>
            <input type="text" name="descricao" class="form-control" value="{{postagem.descricao}}">
            <label for="conteudo">Conteudo: </label>
            <textarea name="conteudo" class="form-control">{{postagem.conteudo}}</textarea>
            <label for="categoria">Categoria: </label>
            <select name="categoria" class="custom-select">
                {{#each categorias}}
                <option value="{{_id}}">{{nome}}</option>
                {{else}}
                <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
            <button type="button" class="btn btn-outline-success">Editar postagem</button>
        </form>
    </div>

</div>