<h2>Lista de postagens</h2>
<hr>
<a href="/admin/postagens/add"><button type="button" class="btn btn-success">Criar nova postagem</button></a>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Descrição: {{descricao}}</p>
            <small>Data: {{data}}</small><br>
            <small>Categoria: {{categoria.nome}}</small>
        </div>
    </div>
{{else}}
    <p>Nenhuma postagem registrada.</p>
{{/each}}