<h2>Lista de postagens</h2>
<hr>
<a href="/admin/postagens/add"><button type="button" class="btn btn-outline-success">Criar postagem</button></a>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Descrição: {{descricao}}</p>
            <small>Data: {{data}}</small><br>
            <small>Categoria: {{categoria.nome}}</small><br>
            <a href="/admin/postagens/edit/{{_id}}"><button type="submit" class="btn btn-outline-success">Editar postagem</button></a>
            <a href="/admin/postagens/deletar/{{_id}}"><button type="submit" class="btn btn-outline-danger">Deletar postagem</button></a>
        </div>
    </div>
{{else}}
    <p>Nenhuma postagem registrada.</p>
{{/each}}