<div class="jumbotron bg-light">
  <h1 class="display-4">Bem vindo ao Blog do Node</h1>
  <p class="lead">Este é um BLOG simples, desenvolvido com Node.js + Express + MongoDB.</p>
  <hr class="my-4">
  <p>Aqui você vai poder ler sobre as novidades do mundo da computação.</p>
  <p class="lead">
    <a href="/usuarios/registro"><button type="submit" class="btn btn-outline-primary">Criar conta</button></a>
  </p>
</div>
<hr>

<h2>Postagens recentes</h2>

{{#each postagens}}
<div class="card">
  <div class="card-header">
    <h5>Categoria: {{categoria.nome}}</h5>
  </div>
  <div class="card-body">
    <h5 class="c">{{titulo}}</h5>
    <p class="card-text">{{descricao}}</p>
    <a href="/postagem/{{slug}}"><button type="button" class="btn btn-outline-success">Leia mais</button></a>
    <hr>
    <small>{{data}}</small>
  </div>
</div>
{{else}}
    <h5>Nenhuma postagem.</h5>
{{/each}}

<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2020-2020</small>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://expressjs.com/pt-br/">Express</a></li>
              <li><a class="text-muted" href="https://nodejs.org/en/">Node.js</a></li>
              <li><a class="text-muted" href="https://handlebarsjs.com/">Handlebars</a></li>
              <li><a class="text-muted" href="https://www.npmjs.com/">NPM</a></li>
              
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Producedd</a></li>
              <li><a class="text-muted" href="#">Test learning</a></li>
              <li><a class="text-muted" href="https://github.com/victorluizskt/blog-nodejs">Final application</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://github.com/victorluizskt?tab=repositories">Git Hub</a></li>
              <li><a class="text-muted" href="https://www.linkedin.com/in/victor-luiz-3913271a7/">Linkedin</a></li>
              <li><a class="text-muted" href="https://www.roberthalf.com.br/termos-de-uso">Terms</a></li>
            </ul>
          </div>
        </div>
  </footer>