<div class="jumbotron bg-light">
  <h1 class="display-4">Bem vindo ao Blog do Node</h1>
  <p class="lead">Este é um BLOG simples, desenvolvido com Node.js + Express + MongoDB.</p>
  <hr class="my-4">
  <p>Aqui você vai poder ler sobre as novidades do mundo da computação.</p>
  <p class="lead">
    <a href="/usuarios/registro"><button type="submit" class="btn btn-outline-primary">Criar conta</button></a>
  </p>
</div>
<hr>
<h2>Postagens recentes</h2>

{{#each postagens}}
<div class="card">
  <div class="card-header">
    <h5>Categoria: {{categoria.nome}}</h5>
  </div>
  <div class="card-body">
    <h5 class="c">{{titulo}}</h5>
    <p class="card-text">{{descricao}}</p>
    <a href="/postagem/{{slug}}"><button type="button" class="btn btn-outline-success">Leia mais</button></a>
        <hr>
  </div>
</div>
{{else}}
    <h5>Nenhuma postagem.</h5>
{{/each}}