<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao blog do node!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <button type="button" class="btn btn-outline-primary">Crie uma conta</button>
  </p>
</div>

<hr>
<h2>Postagens recentes</h2>

{{#each postagens}}
<div class="card">
  <div class="card-header">
    <h5>Categoria: {{categoria.nome}}</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{titulo}}</h5>
    <p class="card-text">{{descricao}}</p>
    <a href="/postagem/{{slug}}"><button type="button" class="btn btn-outline-success">Leia mais</button></a>
        <hr>
  </div>
</div>
{{else}}
    <h5>Nenhuma postagem.</h5>
{{/each}}